html, body, p, ul, li {
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: 'Aptos', sans-serif;
}

.profile-section {
    padding: 20px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%; 
    width: 150px; 
    height: auto; 
}

.logo {
  max-height: 200px; 
  width: auto;
  padding: 0 px;
}

.inline {
    display: inline;
}

.inline-list {
    list-style-type: none;
    padding-left: 0;
}

.inline-list li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.footer-nav {
    text-align: center;
    font-size: 0.9em;
}

.image-container {
  text-align: center;
}

.hero {
  width: 100%;
  background-color: black;

  text-align: center;
  padding: auto; auto;
}

.site-title {
  color: white;
  font-size: 2em; 
  margin: 0;
  padding-bottom: 20px; 
  display: block;
}

.logo {
  display: block; 
  margin: 0 auto; 
  max-width: 35%; 
  height: auto;
}