
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Universal styling */
body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

/* Typography */
h1, h2, h3 {
  color: #333;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
p {
  font-size: 1em;
  line-height: 1.6;
  color: #666;
}

/* Color Scheme */
.primary-text {
  color: #333; /* Black for primary text */
}
.secondary-text {
  color: #777; /* Gray for secondary text */
}
.accent {
  color: #006400; /* Deep green for accents */
}
.highlight {
  color: #DAA520; /* Gold for highlights */
}

/* Media Queries */
@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  h1, h2, h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
  }
}

/* Profile Section */
.profile-section {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
}

/* Profile Picture */
.profile-pic {
    border-radius: 50%; /* Rounded picture */
    width: 150px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid #006400; /* Deep green border */
}

/* Add a class for the logo in your HTML and reference it in CSS */
.logo {
  max-width: 200px; /* Adjust this value to fit your design */
  height: auto; /* This will keep the aspect ratio intact */
}

additional_css_for_footer = """
/* One-line footer */
.footer-nav {
    text-align: center;
    font-size: 0.9em;
}

.inline {
    display: inline;
}

.inline-list {
    list-style-type: none;
    padding-left: 0;
}

.inline-list li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

/* One-line footer */
.footer-nav {
    text-align: center;
    font-size: 0.9em;
}

.inline {
    display: inline;
}

.inline-list {
    list-style-type: none;
    padding-left: 0;
    display: inline;  /* Make the entire list inline */
}

.inline-list li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.blog-preview-image {
  width: 100%; /* or any other width */
  height: auto;
  border-radius: 8px; /* optional, for rounded corners */
}

.image-container {
  text-align: center;
}

.blog-image {
  width: 25%; /* Adjust as needed */
  height: auto;
}

