
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
}

/* Reset some default browser styles */
html, body, p, ul, li {
  margin: 0;
  padding: 0;
  text-align: justify;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Universal styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
}
/* Color Scheme */
.primary-text {
  color: black; /* Black for primary text */
}
.secondary-text {
  color: #777; /* Gray for secondary text */
}
.accent {
  color: white; /* White for contrast text */
}
.highlight {
  color: #DAA520; /* Gold for highlights */
}

/* Profile Section */
.profile-section {
    padding: 50px;
    background-color: #f9f9f9; /* Light gray background */
    text-align: center;
}


/* Profile Picture */
.profile-pic {
    border-radius: 50%; /* Rounded picture */
    width: 150px; /* Fixed width */
    height: auto; /* Maintain aspect ratio */
}

/* Add a class for the logo in your HTML and reference it in CSS */
.logo {
  max-width: 200px; /* Adjust this value to fit your design */
  height: auto; /* This will keep the aspect ratio intact */
  padding: 0 px;
}


.inline {
    display: inline;
}

.inline-list {
    list-style-type: none;
    padding-left: 0;
}

.inline-list li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

/* One-line footer */
.footer-nav {
    text-align: center;
    font-size: 0.9em;
}

.blog-preview-image {
  width: 100%; /* or any other width */
  height: auto;
  border-radius: 8px; /* optional, for rounded corners */
}

.image-container {
  text-align: center;
}

.blog-image {
  width: 25%; /* Adjust as needed */
  height: auto;
}
/* General styles */
.hero {
  width: 100%; /* Full width */
  background-color: black;
  text-align: center;
  padding: auto; auto; /* Vertical padding, no horizontal padding */
}

.site-title {
  color: white;
  font-size: 2em; /* Adjust font size as needed */
  margin: 0; /* Removes default margin */
  padding-bottom: 20px; /* Space between title and logo */
  display: block; /* Ensures the title is always displayed */
}

.logo {
  display: block; /* This makes the image a block-level element, which can receive margin properties */
  margin: 0 auto; /* This sets the top and bottom margins to 0 and left and right margins to auto, which centers the block */
  max-width: 35%; /* Ensures the image is not larger than its container width */
  height: auto; /* Keeps the image's aspect ratio intact */
}
 
/* Break to white background for the rest of the site content */
.body-content {
  background-color: white;
  color: black;
  text-align: justify;
}